.field= form.text_field :title, :placeholder => 'Title..'
.field= form.text_field :link_url, :class => "required url", :placeholder => 'Link..'
.field= form.text_field :feed_url, :class => "required url", :placeholder => 'Feed..'
